.App {
  text-align: center;
}

.blue {
  background-color: #f5fcff;
  height: 750px;
  padding-left: 40px;
}

.navibar {
  width: 280px;
  height: 750px;
  float: left;
  background-color: white;
}

.topbar {
  width: 100%;
  height: 110px;
  background-color: white;
  display: flex;
}

table {
  max-width: 1178px;
  max-height: 1178px;
  margin-left: 270px;
  margin-top: 30px;
}

.button {
  max-width: 280px;
  height: 40px;
  background-color: transparent;
  border-color: transparent;
  display: inline-flex;
}

button {
  border-color: transparent;
  background-color: transparent;
}

button:hover {
  color: orangered;
}

.assign {
  background-color: #2bb8e6;
  border-radius: 5px;
}
.assign:hover {
  background-color: transparent;
  color: orangered;
}

.delete {
  background-color: transparent;
}

.delete:hover {
  background-color: transparent;
  color: orangered;
}

.update {
  background-color: transparent;
}

.update:hover {
  border-color: #2bb8e6;
  color: orangered;
  border-radius: 5px;
}

select {
  background-color: transparent;
  border-color: lightgray;
}

.logo {
  height: 75px;
  width: 250px;
  padding-top: 20px;
}

.search {
  padding-left: 10px;
  width: 400px;
  height: 40px;
  display: flex;
  align-self: center;
  align-content: center;
  border-color: transparent;
  background: #f2f2f2;
}

.search:hover {
  border-color: transparent;
}

.find {
  width: 30px;
  /* padding-right: 50px; */
}

.find:hover {
  color: black;
}

.icon {
  background-color: #f2f2f2;
  align-self: center;
  align-content: center;
  height: 40px;
  padding-top: 8px;

  /* margin-left: 500px; */
}

.top_search {
  display: flex;
  margin-left: 400px;
}

.home {
  background-color: transparent;
  display: inline-flex;
  padding: 10px;
}

.home:hover {
  font-size: large;
  transition: 0.5s ease-in-out;
  margin-right: 25px;
}

.buttonsearch {
  padding-bottom: 20px;
  display: inline-flex;
  /* margin-top: 10px; */
  background-color: gray;
  height: 29.5px;
  border-radius: 5px;
  margin-left: 2px;
}

.buttonsearch:hover {
  background-color: transparent;
  color: black;
}

.web {
  width: 250px;
  align-content: center;
  align-self: center;
  align-items: center;
  display: inline-block;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.group {
  float: left;
  display: flex;
  flex-direction: column;
  font-size: 19px;
  margin-top: 8px;
}

.radio_button {
  margin-top: 25px;
  align-content: flex-start;
  float: left;
  padding-left: 33px;
  margin-bottom: 30px;
}
.searchelement {
  display: flex;
  padding-left: 30px;
  margin-top: 10px;
}

.backarrow {
  display: flex;
}

.topbar .profile {
  display: flex;
  margin-left: 350px;
}

.Group_button {
  background-color: #f5fcff;
}
